<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="flash"></ion-icon>
      <ion-label>首页</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="found">
      <ion-icon name="flash"></ion-icon>
      <ion-label>发现</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my">
      <ion-icon name="apps"></ion-icon>
      <ion-label>我的</ion-label>
      <ion-badge color="danger">10</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
